body {
    background-color: white;
    font-family: 'K2D', sans-serif;
}

.title {
    font-size: 80px;
    text-align: center;
    margin: 0 auto;
}

.nav-bar {
    background-color: #206040;
    color: white;
    border: 3px solid black;
}

#bold {
    font-weight: bolder;
}

.reset-btn{
    border: 2px solid black;
    border-top: none;
    background-color: white;
    color: black;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top:0px;
    margin-left: 0px;
    margin-right: 5px;
}

#timer {
    border: 2px solid black;
    border-top: none;
    background-color: white;
    color: black;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top:0px;
    margin-left: 5px;
    margin-right: 0px;
    height: 24px;
    width: 60px;
    display: block;
    float: right;
    text-align: center;
}

.main-container {
     display: flex;
     justify-content: space-around;
     margin: 0 auto;
 }

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    height: 95%;
    margin: 0 auto;
    margin-top:12px;
    position: relative;
    perspective: 600;
}

.card {
    border-radius: 10%;
    height: 125px;
    width: 100px;
    margin: 4px;
    margin-bottom: 20px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.start-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    z-index: 10;
    border: 2px solid black;
    height: 250px;
    width:  300px;
    /*display: none; */
    
}

.start-btn{
    border: 2px solid black;
    text-align: center;
    background-color: #206040;
    color: white;
    height: 40px;
    width: 250px;
    position: absolute;
    bottom: 15px;
    right: 25px;
}

.instructions {
    margin: 10px;

}

.card div {
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
} 

.card .front {
    background-image: url("images/scale.jpg");
    background-size: cover;
    border-radius: 10%;
}

.card .back {
    transform: rotateY(180deg);
    border-radius: 10%;
}

.front .back {
    position: absolute;
    backface-visibility: hidden;
}

#matched {
    background-color: white;
    background-image: none;
}

.card.flipped {
    transform: rotateY(180deg);
}

.blue {
    background-image: url("images/swords.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.green {
    background-image: url("images/medicine.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.red {
    background-image: url("images/bowarrow.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.purple {
    background-image: url("images/shield.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.orange {
    background-image: url("images/helmet-309063_640.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.pink {
    background-image: url("images/spear.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.warrior {
    display:none;
}

.winMessage {
    /* display: none; */
    height: 300px;
    width: 300px;
    position: fixed;
    margin: 0 auto;
    z-index: 10;
    background-color: #206040;
    border: 2px solid black;
    top: 40%;
}

p.message {
    color: white;
}

p.time {
    color: white;
}



@media only screen and (min-width: 580px) {

    .main-container {
        width: 500px;
        height: 550px;
    }

    .winMessage {
        top: 30%;
    }
}

@media only screen and (min-width: 1000px) {
    .warrior {
        display: block;
        position: absolute;
        height: 350px;
        width: 200px;
        left: 20px;
        bottom: 20px;
    }

}
